.content{
      max-width: 960px;
      padding: 80px;
      margin: 20px;
}

body{
  font-family: 'Montserrat', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:300,500");
  font-weight: 300;
  color: #63666a;
  padding: 80px;
}

.navbar-header{
      background-color: white;
      margin: 20px;
      padding: 10px;
      display: inline;
}

header {
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      display: flex;
      align-items: center;
}

header * {
      display: inline;
}

header li {
      margin: 30px;
}

.logo{
      margin: 20px;
      padding: 80px;
}


