.content{
      max-width: 960px;
      padding: 80px;
      margin: 20px;
}

body{
  font-family: 'Montserrat', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:300,500");
  color: #63666a;
  margin-left: 8%;
}

.navbar-header{
      background-color: white;
      margin-left: 8%;
      margin-right: 8%;
      margin-top: 80px;
      display: inline;
}

header {
      background-color: white;
      top: 0;
      left: 0;
      right: 0;
      height: 30px;
      display: flex;
      align-items: center;
}

header * {
      display: inline;
}

header li {
      margin: 100px;
}

.logo{
      margin: 20px;
      padding: 30px;
}


